<br />
<br />
<h1 style="text-align:center;"> Student Services Application Form</h1>

<br />
<br />
<br />

<body>

</body>

<form>
    Needed Prerequisites:<br>
    <input type="text" name="neededPrereqs"><br><br>

    Student's GPA:<br>
    <input type="number" name="studGPA"><br>
</form>