
﻿<br />
<br />
<h1 style="text-align:center;"> Employer Application Form</h1>

    <br />
    <br />
    <br />

    <body>

    </body>

    <form>
        Organization Name:<br>
        <input type="text" name="organizationName"><br><br>

        Business License # or FEIN #:<br>
        <input type="text" name="number"><br><br>

        State Issued:<br>
        <input type="text" name="stateIssued"><br><br>

        Direct Internship Supervisor:<br>
        <input type="text" name="internSup"><br><br>

        Supervisor Title:<br>
        <input type="text" name="supervisorTitle"><br><br><br>

        Site visit availability:<br>
        <input type="radio" name="visit1" value="visitYet"> Site visits available<br>
        <input type="radio" name="visit2" value="visitNo" checked> Site visits not available<br><br>


        Supervisor Phone Number:<br>
        <input type="tel" name="supervisorTitle"><br><br>

        Supervisor Email:<br>
        <input type="email" name="supervisorEmail"><br><br>

        Phsical Address of Internship:<br>
        <input type="text" name="internshipAddress"><br><br>

        Internship Start Date:<br>
        <input type="date" name="internshipStartDate"><br><br>

        Internship End Date:<br>
        <input type="text" name="internshipEndDate"><br><br>

        Estimated Total # Weeks:<br>
        <input type="number" name="numWeeks"><br><br>

        Estimated Hours/Week:<br>
        <input type="number" name="hoursPerWeek"><br><br>

        Paid or Unpaid Internship:<br>
        <input type="radio" name="paid1" value="paid"> Paid<br>
        <input type="radio" name="paid2" value="unpaid" checked> Unpaid<br><br>

        Additional Compensation/Stipend:<br>
        <input type="text" name="compensation"><br><br>

        Intern Tasks/Role:<br>
        <input type="text" name="internRole"><br><br>
        <br>
        Specific Projects Intern will Work On/Help With:<br>
        <input type="text" name="internWork"><br><br>

        Learning Outcomes for Intern:<br>
        <input type="text" name="learningOutcomes"><br><br>

        Additional Comments Regarding Internship:<br>
        <input type="text" name="additionalComments"><br><br>

        Employer Signature:<br>
        <input type="text" name="empSig"><br><br>

        Date of Signature:<br>
        <input type="date" name="empSigDate"><br><br>

        <br />

    </form>