<br />
<br />
<h1 style="text-align:center;"> Faculty of Record Application Form</h1>

<br />
<br />
<br />

<body>

</body>

<form>
    Faculty of Record Signature:<br>
    <input type="text" name="facSig"><br><br>

    Date of Signature:<br>
    <input type="date" name="dateofFacSig"><br /><br>
</form>