<style>
    #gradientAudience {
        display: none;
    }

    #adminNavBar {
        display: none;
    }

    #commonNavBar {
        display: block;
    }
</style>

<br />
<h1 style="text-align:center;"> Undergraduate Application Form</h1>
<br />

<div style="box-shadow: 0px 0px 10px grey; border-radius: 3px; margin: 25pt; padding: 50pt;">
    <form>
        First name:<br>
        <input type="text" name="firstname"><br><br>

        Last name:<br>
        <input type="text" name="lastname"><br><br>

        Student Signature: <br />
        <input type="text" name="studentSig"><br><br>

        Date of Signature: <br />
        <input type="date" name="studentSigDate"><br><br>

        Current Date:<br />
        <input type="text" name="currDate"><br><br>

        Class Enrolled In: <br />
        <input type="text" name="classEnrolled"><br><br>

        Explaination of How Internship will Enhance Winthrop Experience: <br />
        <textarea name="enhanceExperience"></textarea> <br/> <br/>

        Desired Professional and Personal Goals Hoped to Achieve During Internship: <br />
        <textarea name="goals"></textarea><br><br>

        Student Email:<br />
        <input type="email" name="studEmail"><br><br>

        Student Phone Number: <br />
        <input type="tel" name="studPhoneNum"><br><br>

        Student ID #:  <br />
        <input type="text" name="WUID"><br><br>
    </form>
    </div>
