@model Internship_Application.Models.EmployerDetails

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>EmployerDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeletedAt" class="control-label"></label>
                <input asp-for="DeletedAt" class="form-control" />
                <span asp-validation-for="DeletedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupervisorName" class="control-label"></label>
                <input asp-for="SupervisorName" class="form-control" />
                <span asp-validation-for="SupervisorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupervisorTitle" class="control-label"></label>
                <input asp-for="SupervisorTitle" class="form-control" />
                <span asp-validation-for="SupervisorTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupervisorPhone" class="control-label"></label>
                <input asp-for="SupervisorPhone" class="form-control" />
                <span asp-validation-for="SupervisorPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupervisorEmail" class="control-label"></label>
                <input asp-for="SupervisorEmail" class="form-control" />
                <span asp-validation-for="SupervisorEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionsInternRole" class="control-label"></label>
                <input asp-for="QuestionsInternRole" class="form-control" />
                <span asp-validation-for="QuestionsInternRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionsInternProjects" class="control-label"></label>
                <input asp-for="QuestionsInternProjects" class="form-control" />
                <span asp-validation-for="QuestionsInternProjects" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionsInternOutcome" class="control-label"></label>
                <input asp-for="QuestionsInternOutcome" class="form-control" />
                <span asp-validation-for="QuestionsInternOutcome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionsComments" class="control-label"></label>
                <input asp-for="QuestionsComments" class="form-control" />
                <span asp-validation-for="QuestionsComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrgName" class="control-label"></label>
                <input asp-for="OrgName" class="form-control" />
                <span asp-validation-for="OrgName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessLiscense" class="control-label"></label>
                <input asp-for="BusinessLiscense" class="form-control" />
                <span asp-validation-for="BusinessLiscense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateIssued" class="control-label"></label>
                <input asp-for="StateIssued" class="form-control" />
                <span asp-validation-for="StateIssued" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SiteVisitAvailable" /> @Html.DisplayNameFor(model => model.SiteVisitAvailable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="InternshipStartDate" class="control-label"></label>
                <input asp-for="InternshipStartDate" class="form-control" />
                <span asp-validation-for="InternshipStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InternshipEndDate" class="control-label"></label>
                <input asp-for="InternshipEndDate" class="form-control" />
                <span asp-validation-for="InternshipEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InternshipNumWeeks" class="control-label"></label>
                <input asp-for="InternshipNumWeeks" class="form-control" />
                <span asp-validation-for="InternshipNumWeeks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InternshipHoursPerWeek" class="control-label"></label>
                <input asp-for="InternshipHoursPerWeek" class="form-control" />
                <span asp-validation-for="InternshipHoursPerWeek" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="InternshipIsPaid" /> @Html.DisplayNameFor(model => model.InternshipIsPaid)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="IntershipPaidAmount" class="control-label"></label>
                <input asp-for="IntershipPaidAmount" class="form-control" />
                <span asp-validation-for="IntershipPaidAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntershipAdditionalCompensation" class="control-label"></label>
                <input asp-for="IntershipAdditionalCompensation" class="form-control" />
                <span asp-validation-for="IntershipAdditionalCompensation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

