<style>

    #gradientAudience {
        display: none;
    }

    #adminNavBar {
        display: none;
    }

    #commonNavBar {
        display: block;
    }

    tr {
        border: white 2px solid;
    }

    th, td {
        padding: 10px;
    }

    table {
        margin: 0px auto;
    }

    #needsAdminContainer td {
        color: white;
        background-color: #660000;  
    }

    #needsAdminContainer {
        padding-bottom: 50px;
    }

    #needsAdminContainer th {
        padding-bottom: 25px;
    }

    #radioFilter {
         display: inline;
         margin-right: 5px;
     }

    #tableTitle {
        display: inline-block;
    }

    #titleAndSortContent {
        padding: 20px;
        width: 100%;
        display: inline-block;
    }

    #radioFilter {
        display: inline-block;
        text-align: right;
        float: right;
    }

    #tablesDiv {
        margin-top: 50px;
        padding-top: 25px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        box-shadow: 0px 0px 10px grey;
        border-radius: 3px;
    }

    #remFormsContainer {
        padding-bottom: 25px;
    }

    button {
        color: white;
        background-color: #F0B323;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        border: none;
        border-radius: 3px;
        width:125px;
        height:40px;
    }
 }

</style>

<div id="commonLandingPageUI">
    <div id="tablesDiv" style="padding-top:20px">
        <div >
            <h2 style="padding-left:30px; padding-top: 25px; padding-bottom: 25px">Active Forms</h2>
        </div>
        <div id="activeFormsContainer">
            <table style="width:90%">
                <thead style="border-bottom:3px solid black">
                <th>STUDENT NAME</th>
                <th>LAST UPDATED</th>
                <th>STATUS</th>
                <th></th>
                </thead>
                <tr>
                    <td>John Doe</td>
                    <td>2/1/2019 9:56AM</td>
                    <td>PPA</td>
                    <td><button type="button">View</button></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><form asp-controller="Student_Application_Page" asp-action="Index" method="post">
                        <button type="submit" style="height:55px; background-color:#660000">Start New Form</button>
                        </form><!--<button style="height:55px; background-color:#660000">Start New Form</button>-->
                    </td>
                </tr>
            </table>
        </div>
        <h2 style="padding-left:30px; padding-top: 25px">Archived Forms</h2>
        <div style="text-align:center; padding-top:px; padding-bottom:50px; display:block" id="emptyArchiveText">You don't have any archived forms yet...</div>
           <div style="display:none">
               <div id="archivedFormsContainer">
                   <table style="width:90%">
                       <thead style="border-bottom:3px solid black">
                       <th>STUDENT NAME</th>
                       <th>LAST UPDATED</th>
                       <th>STATUS</th>
                       <th></th>
                       </thead>
                       <tr>
                           <td>John Doe</td>
                           <td>1/23/2018 3:17PM</td>
                           <td>PPA</td>
                           <td><button type="button">View</button></td>
                       </tr>
                   </table>
               </div>
           </div>
    </div>

</div>
