<style>
    #gradientAudience {
        display: none;
    }

    #adminNavBar {
        display: none;
    }

    #commonNavBar {
        display: block;
    }
    .border2 {
        margin: auto;
        width: 70%;
        border: 11px double #660000;
        padding: 50px;
        text-align: center;
        top: 50%;
        left: 50%;
        margin-bottom: 25px;
     }
</style>

<div>
    <fieldset>
            <div class="border2">
                <p>Thank you, Jane Doe, for submitting your application. A confirmation email will be sent to <b>DoeJ2@winthrop.edu</b>.</p>
            </div>
    </fieldset>
</div>
