/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
   for details on configuring this project to bundle and minify static web assets. 
   Purpose of this page is to describe the presentation of our web pages 
*/

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin: 0 auto;
    font-family: 'Raleway';
}

/*END DEFAULT CSS*/
/*Following was taken from winthrop.edu's front page css source*/
#gradientAudience {
    background: #F0B323;
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    width: 100%;
    min-width: 1003px;
    height: 46px;
    line-height: 46px;
    text-align: center;
}

.audienceMenuText:link, .audienceMenuText:visited, .audienceMenuText:active {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: bolder;
    color: #000;
    letter-spacing: 0px;
    margin-left: 35px;
    margin-right: 35px;
    text-decoration: none;
}

a.audienceMenuText:hover {
    cursor: pointer;
    text-decoration: underline;
}

#allNavBar {
    background: #F0B323;
    font-family: 'Raleway', Arial, sans-serif;
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    width: 100%;
    min-width: 1003px;
    height: 46px;
    line-height: 40px;
    text-align: center;
}

    #adminNavBar:focus, #commonNavBar::after focus {
        outline: none;
    }

.loggingInfo {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 12px;
    font-weight: bolder;
    line-height: 16px;
}

#gradientBottom {
    background: #660000;
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    min-width: 1003px;
    width: 100%;
    height: 32px;
    line-height: 30px;
    text-align: center;
}

.whiteBottomText {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    color: white;
    letter-spacing: .5px;
}

#addUserButton, #removeUserButton, #submitAddButton, #submitRemoveButton, #viewFormButton {
    display: block;
    margin: 20px;
    padding: 10px;
    width: 150px;
    border-radius: 1em;
    border: none;
}

/*ADDED BY CHRISTINA & KELEIGH 1/30/2019*/
.topLinks {
    position: relative;
    top: 0px;
    width: 320px;
    z-index: 10;
    float: right;
    margin-left: -5px;
    float: left;
    color: #000;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    word-spacing: 0px;
    letter-spacing: .5px;
    text-align: left;
}


a.topWhiteLinks:link, a.topWhiteLinks:active, a.topWhiteLinks:visited {
    margin-right: 10px;
    color: #000;
    text-decoration: none;
    font-weight: normal;
}

a.topWhiteLinks:hover {
    margin-right: 10px;
    color: #000;
    text-decoration: underline;
}

h1 {
    font-family: 'Raleway';
    font-weight: bold;
}

h2 {
    font-family: 'Raleway';
    font-weight: bold;

}

#loginSection {
    width: 43%;
}

#loginSection {
    float: left;
}

div {
    display: block;
}

