@model Internship_Application.Models.Templates

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Templates</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeletedAt" class="control-label"></label>
                <input asp-for="DeletedAt" class="form-control" />
                <span asp-validation-for="DeletedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormTitle" class="control-label"></label>
                <input asp-for="FormTitle" class="form-control" />
                <span asp-validation-for="FormTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disclaimer" class="control-label"></label>
                <input asp-for="Disclaimer" class="form-control" />
                <span asp-validation-for="Disclaimer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TemplateName" class="control-label"></label>
                <input asp-for="TemplateName" class="form-control" />
                <span asp-validation-for="TemplateName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

