@model Internship_Application.Models.Templates

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Templates</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedAt" class="control-label"></label>
                <input asp-for="DeletedAt" class="form-control" />
                <span asp-validation-for="DeletedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormTitle" class="control-label"></label>
                <input asp-for="FormTitle" class="form-control" />
                <span asp-validation-for="FormTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disclaimer" class="control-label"></label>
                <input asp-for="Disclaimer" class="form-control" />
                <span asp-validation-for="Disclaimer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TemplateName" class="control-label"></label>
                <input asp-for="TemplateName" class="form-control" />
                <span asp-validation-for="TemplateName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentQuestions" class="control-label"></label>
                <input asp-for="StudentQuestions" class="form-control" />
                <span asp-validation-for="StudentQuestions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployerQuestions" class="control-label"></label>
                <input asp-for="EmployerQuestions" class="form-control" />
                <span asp-validation-for="EmployerQuestions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacultyQuestions" class="control-label"></label>
                <input asp-for="FacultyQuestions" class="form-control" />
                <span asp-validation-for="FacultyQuestions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentServicesQuestions" class="control-label"></label>
                <input asp-for="StudentServicesQuestions" class="form-control" />
                <span asp-validation-for="StudentServicesQuestions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdministratorQuestions" class="control-label"></label>
                <input asp-for="AdministratorQuestions" class="form-control" />
                <span asp-validation-for="AdministratorQuestions" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="IsModifiable" class="control-label"></label>
                <input asp-for="IsModifiable" class="form-control" />
                <span asp-validation-for="IsModifiable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

