<h1>Sign in page</h1>
<fieldset>
    <legend><h1>Student E-mail</h1></legend>



    <div id="loginUI">
        <table>
            <tbody>
                <tr>
                    <td>Username:</td>
                    <td><input name="txtUsername" type="text" value="santosa4" id="txtUsername" tabindex="1" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;); cursor: auto;"><a title="Username Lookup" href="https://asap.winthrop.edu/studentaccount/lookupusername.aspx" tabindex="6">&nbsp;Lookup Username</a></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input name="txtPassword" type="password" id="txtPassword" tabindex="2" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;); cursor: auto;"><a title="Forget Password?" href="https://asap.winthrop.edu/studentaccount/changepassword.aspx" tabindex="7">&nbsp;Forgot Password?</a></td>
                </tr>
            </tbody>
        </table>
        <div>

            <input id="chkRememberMe" type="checkbox" name="chkRememberMe" checked="checked" tabindex="4"><label for="chkRememberMe">Remember me on this computer</label>
            <input type="submit" name="btnLogin" value="Login" id="btnLogin" tabindex="5" title="Click to login... ">
        </div>
    </div>
</fieldset>