@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<style>
    #gradientAudience {
        display: block;
    }

    #adminNavBar {
        display: none;
    }

    #commonNavBar {
        display: none;
    }

    button {
        background-color: #660000;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        padding: 14px 40px;
        border-radius: 8px;
    }

    nav-link text-dark {
        color: white;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
    }
</style>

<br />
<br />


<h1 style="text-align:center;"> College of Business Administration</h1>
<h1 style="text-align:center;"> Internship Application System</h1>

<br />
<br />
<br />
<h2 align="center">User Login</h2>

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>

<div>
    <fieldset>
        <div id="loginUI">
            <div align="center">
                <div vertical-align="center">
                    <br />
                    <button><a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a></button>
                    <button><a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login   </a></button>
                </div>
            </div>
        </div>
    </fieldset>
</div>