@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<!--
    This is the page that shows the user login. It shows the email,password, and gives the user the option to check
    remember me. There is also a link to navigate to forgot password or register as a new user which will take them
    to the register page
-->

<h1>@ViewData["Title"]</h1>

    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>

                <button type="submit" class="btn-default" style=" background-color:#660000; color:white">Login</button>
              
                <div class="form-group">
                    <br>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    <br>              
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <br>
                </div>
            </form>

    </section>
</div>
    

