@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
</header>

<br>
<br>

<a type="submit" style=" color:black" asp-area="Identity" asp-page="/Account/Login">Return to Login</a>