<style>

    tr {
        border: white 2px solid;
    }

    th, td {
        padding: 10px;
    }

    table {
        margin: 0px auto;
    }

    #tablesDiv {
        padding-top: 25px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        box-shadow: 0px 0px 10px grey;
        border-radius: 3px;
    }

    #inProgressFormsTable {
        padding-bottom: 25px;
    }

    button {
        color: white;
        background-color: #F0B323;
        display: block;
        padding: 10px;
        width: 150px;
        border-radius: 1em;
        border: none;
    }

    h2 {
        margin: 15pt;
    }

</style>

<div id="adminFormsOverviewUI" style="margin-bottom: 50pt">
    <div id="tablesDiv" style="margin-top:25pt">
        <h2 style="margin-left:30pt">Active Form</h2>
        <div id="activeFormsTable">
            <table style="width:90%">
                <col width="16%" />
                <col width="16%" />
                <col width="16%" />
                <col width="20%" />
                <col width="16%" />
                <col width="16%" />
                <tr>
                    <th>NAME</th>
                    <th>STATUS</th>
                    <th>CREATED</th>
                    <th>SEMESTERS ACTIVE</th>
                    <th>FORM TEMPLATE ID</th>
                    <th></th>
                </tr>
                <tr>
                    <td>spring2019</td>
                    <td>Active</td>
                    <td>10/15/2018</td>
                    <td>Spring 2019 - Spring 2019</td>
                    <td>12345</td>
                    <td><button type="button">View</button></td>
                </tr>
            </table>
        </div>
        <div class="aligncenter" style="width:90%;height:0;border-top:2px double #660000;font-size:0;padding-top:10px;margin:0 auto;">-</div>
        <h2 style="margin-left:30pt">In-Progress Forms</h2>
        <div id="inProgressFormsTable">
            <table style="width:90%">
                <col width="16%" />
                <col width="16%" />
                <col width="16%" />
                <col width="20%" />
                <col width="16%" />
                <col width="16%" />
                <tr>
                    <th>NAME</th>
                    <th>STATUS</th>
                    <th>CREATED</th>
                    <th>SEMESTERS ACTIVE</th>
                    <th>FORM TEMPLATE ID</th>
                    <th></th>
                </tr>
                <tr>
                    <td>summer2019</td>
                    <td>In Progress</td>
                    <td>03/01/2019</td>
                    <td>NA</td>
                    <td>12346</td>
                    <td><button type="button">View</button></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button type="button">New Form</button></td>
                </tr>
            </table>
        </div>
        <div class="aligncenter" style="width:90%;height:0;border-top:2px double #660000;font-size:0;padding-top:10px;margin:0 auto">-</div>
        <h2 style="margin-left:30pt">Retired Forms</h2>
        <div id="retiredFormsTable">
            <table style="width:90%">
                <col width="16%" />
                <col width="16%" />
                <col width="16%" />
                <col width="20%" />
                <col width="16%" />
                <col width="16%" />
                <tr>
                    <th>NAME</th>
                    <th>STATUS</th>
                    <th>CREATED</th>
                    <th>SEMESTERS ACTIVE</th>
                    <th>FORM TEMPLATE ID</th>
                    <th></th>
                </tr>
                <tr>
                    <td>spring2017</td>
                    <td>Retired</td>
                    <td>11/01/2016</td>
                    <td>NA</td>
                    <td>12344</td>
                    <td><button type="button">View</button></td>
                </tr>
                <tr>
                    <td>fall2017</td>
                    <td>Retired</td>
                    <td>11/01/2016</td>
                    <td>NA</td>
                    <td>12344</td>
                    <td><button type="button">View</button></td>
                </tr>
                <tr>
                    <td>summer2017</td>
                    <td>Retired</td>
                    <td>04/01/2017</td>
                    <td>NA</td>
                    <td>12343</td>
                    <td><button type="button">View</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>
