<style>
    #gradientAudience {
        display: block;
    }

    #adminNavBar {
        display: none;
    }

    #commonNavBar {
        display: none;
    }
</style>

<br />
<br />
<h1 style="text-align:center;"> College of Business Administration</h1>
<h1 style="text-align:center;"> Internship Application System</h1>
<br />
<br />
<br />
<h2 align="center">Employer Login</h2>


<body>

</body>

<fieldset>
    <div id="loginUI">
        <div align="center">
            <div vertical-align="center">
                <table style="background-color:#EAEAEA;">
                    <tbody>
                        <tr>
                            <td>Email:</td>
                            <td><input name="txtUsername" type="text" value="santosa4" id="txtUsername" tabindex="1" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;); cursor: auto;"></td>
                        </tr>
                        <tr>
                            <td>Access Code:</td>
                            <td><input name="txtPassword" type="password" id="txtPassword" tabindex="2" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;); cursor: auto;"></td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <br />
                    <input id="chkRememberMe" type="checkbox" name="chkRememberMe" checked="checked" tabindex="4"><label for="chkRememberMe">Remember me on this computer</label>
                    <input type="submit" name="btnLogin" value="Login" id="btnLogin" tabindex="5" title="Click to login... ">
                </div>
            </div>
        </div>
    </div>
</fieldset>
